@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-black tracking-tight text-neutral-800 dark:text-neutral-300  font-mono-mono;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 999px;
}
*::-webkit-scrollbar-track {
  background-color: #777;
}

*::-moz-scrollbar {
  width: 10px;
}
*::-moz-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
}
*::-moz-scrollbar-track {
  background-color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-neutral-900 dark:text-neutral-100 font-sans-sans;
}

p {
  @apply font-mono-mono text-sm;
}
h1 {
  @apply text-2xl;
  unicode-bidi: isolate;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grid-template-colums-auto-fill {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
