@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white dark:bg-black flex flex-col text-gray-100;
  scrollbar-width: thin;
  scrollbar-color: #ccc #eee;
  scrollbar-arrow-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: #444 #777;
    scrollbar-arrow-color: transparent;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
